[Twitter]
# The access tokens can be found on your applications's Details
# page located at https://dev.twitter.com/apps (located
# under "Your access token")

CONSUMER_KEY: 
CONSUMER_SECRET: 
ACCESS_TOKEN: 
ACCESS_TOKEN_SECRET:


[Files]
# TweetScanner, Indexer will save their files in this directory.
BASE_DIR = ./files
# Webserver will serve content from this directory
WWW_ROOT = ./www